* {
  margin: 0;
  padding: 0;
}

.nav {
  padding: 20px 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 4px 10px 0 #ccc;
  background: linear-gradient(45deg, rgb(119, 119, 216), rgb(138, 138, 196));
}

.nav a {
  text-decoration: none;

  color: #fff;
}
.nav ul {
  list-style: none;
}
.nav ul li {
  margin-top: 8px;
}
.box {
  width: 100px;
  height: 100px;
}

/* positions : sticky, static, absolute , relative and fixed */

.b1 {
  background-color: orange;
}
.b2 {
  background-color: teal;
}
.b3 {
  background-color: wheat;
}
