* {
  margin: 0;
  padding: 0;
}

.box {
  width: 100px;
  height: 100px;
}

/* positions : sticky, static, absolute , relative and fixed */

.b1 {
  background-color: orange;
}
.b2 {
  background-color: teal;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0.5;
}
.b3 {
  background-color: wheat;
}
