@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sacramento&display=swap");

* {
  padding: 0;
  margin: 0;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: Poppins;
}

.txt-shadow {
  text-shadow: -2px 0 2px #3b3b3b;
}
.img-shadow {
  filter: drop-shadow(-4px 0px 4px #3b3b3b);
}
#main {
  position: relative;
  color: teal;
  text-align: center;
  background: linear-gradient(rgb(234, 148, 101), #e9f6f6 80%);
}

#main h1 {
  position: relative;
  font-size: 96px;
  z-index: 2;
  font-family: Sacramento;
}
#main h4 {
  position: relative;
  z-index: 2;
  font-size: 38px;
}
#main button {
  padding: 12px 14px;
  border-radius: 4px;
  font-family: Poppins;
  border-color: transparent;
  background-color: teal;
  color: #fff;
  display: block;
  margin: 32px auto;
  transition: 0.3s;
}
#main button:hover {
  cursor: pointer;
  border-radius: 30px;
  padding: 12px 24px;
  letter-spacing: 4px;
}

#main .cloud {
  width: 280px;
}
#main .c1 {
  position: relative;
  left: 450px;
  top: 100px;
}
#main .c2 {
  position: absolute;
  bottom: 300px;
  left: 150px;
}
#main .mountain {
  width: 700px;
}

#main .birds {
  top: 0;
  width: 700px;
  left: 100px;
  position: absolute;
}
